.bag {
    width: 200px;
    height: 500px;
    margin: 0 auto;
    background: url('../../../assets/bag.png') center no-repeat;
    background-size: 80%;

}

.burst {
    background: url('../../../assets/bag-burst.png') center no-repeat;
    background-size: 80%;
}

.bag-health {
    width: 200px;
    border: 2px solid #000;
    margin: 0 auto 20px auto;

    div {
        height: 20px;
        background: crimson;
    }
}

.bag-controls {
    margin: 0 auto;
    width: 120px;
}